extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  //- h1= title
  div(class="navbar")
    h1 Zine Garden🌷
    p Welcome to the party!
  
  div(class="buttons")
    button upload a zine pdf!
    button make a zine pdf!

  ul.zine-links
    li 
      a(href="http://www.google.com") heres a little zine